body {
  background-color: #f4f4f4;
}

/* grid names */
header {
  grid-area: headeris;
}
.main-nav {
  grid-area: nav;
}
main {
  grid-area: mainas;
}
aside {
  display: none;
  grid-area: asideas;
  background: url('../img/about.jpg') no-repeat center;
  background-size: cover;
}
footer {
  grid-area: footeris;
}

h1 {
  font-size: 2.2rem;
  font-weight: normal;
  padding: 1em 0;
}

.title--white {
  font-size: 3rem;
  padding: 0.5rem 0;
  color: white;
}

.title {
  font-size: 1.9rem;
  margin-bottom: 1em;
}
.text {
  line-height: 1.5;
  color: gray;
}

.element {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.main-nav {
  background-color: #333;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.nav__link {
  font-size: 1.6rem;
  padding: 0.5em 1.2em;
  display: inline-block;
}
.nav__link:hover {
  background-color: #565656;
}
h1::after {
  content: ' --Mobile screen';
}
/* mobile rezoliucija - 360px iki 500px */
/* tablet rezoliucija - 500px iki 768px */
/* tablet rezoliucija - 768px iki 1000px */
/* extra large rezoliucija - 1000px iki max */

/* tablet rezoliucija - 500px iki 768px */
@media screen and (min-width: 500px) {
  h1::after {
    content: ' --Tablet screen';
  }
  aside {
    display: block;
  }
  .main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'headeris headeris headeris headeris'
      'nav nav nav nav'
      'mainas mainas asideas asideas'
      'footeris footeris footeris footeris';
    gap: 2rem;
  }
  .element {
    margin-bottom: 0;
  }

  .nav__link {
    font-size: 2.1rem;
  }

  h1 {
    font-size: 3rem;
    padding: 0.5em 0;
  }

  .title {
    font-size: 2.5rem;
    font-weight: normal;
  }
}

/* laptop screen */
@media screen and (min-width: 768px) {
  h1::after {
    content: ' --laptop screen';
  }
  .main-grid {
    grid-template-areas:
      'headeris headeris headeris headeris'
      'nav mainas mainas asideas'
      'nav footeris footeris footeris';
  }

  .nav__link {
    display: block;
  }
  .main-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .title {
    font-size: 2.7rem;
  }
}
/* large screen */
@media screen and (min-width: 1000px) {
  h1::after {
    content: ' --EXtra large screen';
  }

  /* padaryti kad container nesipletu daugiau nei 1000px */
  .container {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
  }

  aside {
    background: url('../img/responsive/cat-1920.jpg') no-repeat center;
  }
}
